# Day objectives
- python introduction
- variables
- operators
- string and string functions

## Python introduction
#### For defining python 
- Highlevel programming languages
- Interpriter
- oop's
- multipurpose
- Dynamic

In [7]:
c=0
print(type(c))
c=5/2
print(type(c))
c="a"
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

## variables
- we can store values temparaaly
#### variable assignments
- assigning single value to multiple variables
- assigning different type of values to different variables in a line

- by using second way i can perform swapping with out using temp

In [22]:
a=b=c=10
print(a)
print(b)
print(c)

10
10
10

In [25]:
name,age,rollnumber="apssdc",21.5,1234556789
print(type(name))
print(type(age))
print(type(rollnumber))

<class 'str'>
<class 'float'>
<class 'int'>

In [26]:
print(name,type(name))
print(age,type(age))
print(rollnumber,type(rollnumber))

apssdc <class 'str'>
21.5 <class 'float'>
1234556789 <class 'int'>

In [30]:
a,b=10,20
print(a,b)
a,b=b,a
print(a,b)

10 20
20 10

In [31]:
a,b=10,20
a=a+b
b=a-b
a=a-b
a,bX

(20, 10)

#### reading values from user
- in python we can use input() for reading values from user

In [33]:
a = input("enter a value")
type(a)

enter a value567

str

In [34]:
b=int(input("enter a number:"))
print(type(b))

enter a number:43567
<class 'int'>

In [36]:
name=str(input("enter a name:"))
print("welcome",name)

enter a name:suman
welcome suman

#### modes of executon
- we have two ways
  - interactive mode
      - we can write something amd we can see result there only
  - scripting mode
     - we can build logic in file.py

### Operators
 - we can perform arithmetic and logical operations
 
 #### types:
 - arithmetic operators --> =,-,*,/,%,//,**
 - relational operators --> <,<=,>,>=,==,!=
            - comapre two numbers
 - logical operators --> and, or, not
            - we can compare two conditions
 - bitwise operators -->&,|,<<,>>
            - 
 - assigments operators --> +=,-=,*=,/=,%=,//=,**=,<=,
 - membership operators --> in not in
 - identity operators --> is, is not

In [40]:
2+4
5-3
2*2
"suman "*3
"*"*5
14/9
14//7
2**3

8

In [43]:
3<5
5<=5
a,b=5,6
a>b

False

In [62]:
a,b,c,d=5,8,4,9
a>b and c<d
a>b or c<d
not a>b

True

In [69]:
2&3
#"""
#2==>0010
#3==>0011
#============
 #        0010==>2
#"""

#"""
#2==>0010
#3==>0011
# |(+)
#============
 #        0010==>2
#"""
2|3

2<<1
#2-->0010
# 0100
2>>1
# 2-->0010
# 0001

1

In [75]:
a = 1
a += 100# a= a+100
a

101

In [79]:
arr = [1,2,3,4,5]
15 in arr

False

In [84]:
2 is 3
'abc' is 'abc'
id(2)

140723409884000