## day objectives:
- iterative statements
- jumping statements
- python datastructures
    - list
    - tuple
    - dictionaries
    - sets

### iterative statements
- doing task again and again
- 2 types
    - for loop
    - while loop

In [7]:
range(10)
range(1,10)
range(1,10,2)

range(1, 10, 2)

In [28]:
for i in  range(10):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,

In [31]:
for j in range(2,10):
    print(j,end=" ")

2 3 4 5 6 7 8 9

In [33]:
for i in range(1,10,2):
    print(i,end=" ")

1 3 5 7 9

In [34]:
for j in range(0,10,2):
    print(j)

0
2
4
6
8

In [37]:
for i in range(1,100,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [39]:
for j in range(0,100,2):
    print(j,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [42]:
for k in range(1,100,3):
    print(k,end=" ")

1 4 7 10 13 16 19 22 25 28 31 34 37 40 43 46 49 52 55 58 61 64 67 70 73 76 79 82 85 88 91 94 97

In [50]:
for k in range(10,0,-1):
    print(k,end=" ")

10 9 8 7 6 5 4 3 2 1

In [52]:
for k in range(100,0,-2):
    print(k,end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [59]:
for k in range(99,0,-2):
    print(k,end=" ")

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

In [63]:
name='sumankumarreddy'
for ch in range(len(name)):
    print(name[ch],end=" ")

s u m a n k u m a r r e d d y

In [67]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [70]:
for ch in name:
    print(ch,end=" ")

s u m a n k u m a r r e d d y

In [75]:
n = int(input("enter a number"))
for i in range(1,11):
    print(n,"X",i,"=",n*i,end=" ")

enter a number3
3 X 1 = 3 3 X 2 = 6 3 X 3 = 9 3 X 4 = 12 3 X 5 = 15 3 X 6 = 18 3 X 7 = 21 3 X 8 = 24 3 X 9 = 27 3 X 10 = 30

In [84]:
n = int(input("enter a number"))
for i in range(1,n+1):
    for j in range(1,11):
        print(i,"X",j,"=",i*j)
    print("")

enter a number5
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [87]:
n = int(input("enter a number"))
for i in range(1,11):
    for j in range(1,n+1):
        print(j,"X",i,"=",i*j,end="  ")
    print("")

enter a number5
1 X 1 = 1  2 X 1 = 2  3 X 1 = 3  4 X 1 = 4  5 X 1 = 5
1 X 2 = 2  2 X 2 = 4  3 X 2 = 6  4 X 2 = 8  5 X 2 = 10
1 X 3 = 3  2 X 3 = 6  3 X 3 = 9  4 X 3 = 12  5 X 3 = 15
1 X 4 = 4  2 X 4 = 8  3 X 4 = 12  4 X 4 = 16  5 X 4 = 20
1 X 5 = 5  2 X 5 = 10  3 X 5 = 15  4 X 5 = 20  5 X 5 = 25
1 X 6 = 6  2 X 6 = 12  3 X 6 = 18  4 X 6 = 24  5 X 6 = 30
1 X 7 = 7  2 X 7 = 14  3 X 7 = 21  4 X 7 = 28  5 X 7 = 35
1 X 8 = 8  2 X 8 = 16  3 X 8 = 24  4 X 8 = 32  5 X 8 = 40
1 X 9 = 9  2 X 9 = 18  3 X 9 = 27  4 X 9 = 36  5 X 9 = 45
1 X 10 = 10  2 X 10 = 20  3 X 10 = 30  4 X 10 = 40  5 X 10 = 50

In [93]:
def fact(n):
    f = 1
    for i in range(1,n+1):
        f = f * i
    return f

In [95]:
num = int(input("enter a number:"))
print(fact(num))

enter a number:5
120

In [96]:
start_val = int(input("enter a starting numbe:"))
end_val = int(input("enter a ending value:"))
for i in range(start_val,end_val+1):
    print(fact(i))

enter a starting numbe:1
enter a ending value:10
1
2
6
24
120
720
5040
40320
362880
3628800

## jumping statements are
 - break
 - continue

In [3]:
for i in range(1,100):
    if i==50:
        break
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [10]:
for i in range(1,100):
    if i%5==1:
        continue
    print(i,end=" ")

2 3 4 5 7 8 9 10 12 13 14 15 17 18 19 20 22 23 24 25 27 28 29 30 32 33 34 35 37 38 39 40 42 43 44 45 47 48 49 50 52 53 54 55 57 58 59 60 62 63 64 65 67 68 69 70 72 73 74 75 77 78 79 80 82 83 84 85 87 88 89 90 92 93 94 95 97 98 99

### python datastructures

### list
 - it is data structures
 - it is a mutable
 - for defining list we are using [and]
 - and also it is data type

In [13]:
li = [123,14.09,'suman']
print(type(li),li)

<class 'list'> [123, 14.09, 'suman']

In [17]:
print(li[0])
print(len(li))
print(li[:1])
print(li[1:])
li[::-1]

SyntaxError: invalid syntax (<ipython-input-17-59ffa162d846>, line 5)

In [18]:
l1 = [1,3,4,5]
print(li,l1)

[123, 14.09, 'suman'] [1, 3, 4, 5]

In [19]:
li+l1

[123, 14.09, 'suman', 1, 3, 4, 5]

In [21]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [25]:
li

[123, 14.09, 'suman', 50]

In [26]:
li.insert(2,45)

In [27]:
li

[123, 14.09, 45, 'suman', 50]

In [29]:
li.pop()

50

In [30]:
li.remove('suman')

In [31]:
li

[123, 14.09, 45]

In [32]:
l1.clear()

In [33]:
l1

[]

In [34]:
del l1

In [35]:
l1

NameError: name 'l1' is not defined

In [36]:
li

[123, 14.09, 45]

In [39]:
li1 = li

In [40]:
li1,li

([123, 14.09, 45], [123, 14.09, 45])

In [41]:
li1.append(78)

In [42]:
li1,li

([123, 14.09, 45, 78], [123, 14.09, 45, 78])

In [43]:
li.remove(123)

In [44]:
li,li1

([14.09, 45, 78], [14.09, 45, 78])

In [45]:
li2 = li.copy()

In [46]:
li2,li

([14.09, 45, 78], [14.09, 45, 78])

In [47]:
li3 = li.copy()

In [48]:
li3

[14.09, 45, 78]

In [49]:
li1.append(58)

In [50]:
li3

[14.09, 45, 78]

In [51]:
li2

[14.09, 45, 78]

In [52]:
li2.append(14)

In [53]:
li3

[14.09, 45, 78]

In [54]:
li2,li

([14.09, 45, 78, 14], [14.09, 45, 78, 58])

In [55]:
li3

[14.09, 45, 78]

In [56]:
li,li2,li3

([14.09, 45, 78, 58], [14.09, 45, 78, 14], [14.09, 45, 78])

In [57]:
li.append(li2)

In [58]:
li

[14.09, 45, 78, 58, [14.09, 45, 78, 14]]

In [59]:
li(3)

TypeError: 'list' object is not callable

In [60]:
li[3]

58

In [61]:
li[3[1]]

TypeError: 'int' object is not subscriptable

In [62]:
li[3(1)]

TypeError: 'int' object is not callable

In [68]:
li1,li2

([14.09, 45, 58, 78], [14.09, 45, 78, 14])

In [70]:
li

[14.09, 45, 58, 78]

In [71]:
li.pop()

78

In [72]:
li.sort()

In [73]:
li

[14.09, 45, 58]

In [74]:
max(li)

58

In [75]:
min(li)

14.09

In [76]:
sum(li)

117.09

In [77]:
14
1 2  23 3  323

SyntaxError: invalid syntax (<ipython-input-77-aacfdee11c01>, line 2)

In [82]:
n = int(input())
vals = list(map(int,input().split()))[:n]
print(sum(vals))

6
213 2345 3543 2343 5235 23515 2545 35235
37194