In [8]:
names = input()
names = names.split()
for name in set(names):
    print(name,names.count(name))
   # print(names)

suman is a good boy suman
a 1
boy 1
suman 2
good 1
is 1

### day objectives
 - dicitionaries
  - it is data structure
  - data will be store in pair format i.e, key:value
  - for defining empty dictionary we can use {} or dist()
  - key +> max string
  - value may be string ,integer,list,tuple,set,dictionary

In [9]:
stu = {'name':'suman','rollnumber':123,'branch':'cse'}
stu

{'name': 'suman', 'rollnumber': 123, 'branch': 'cse'}

In [10]:
stu['name']

'suman'

In [14]:
stu['branch']

'cse'

In [15]:
stu['rollnumber'] = 553

In [16]:
stu

{'name': 'suman', 'rollnumber': 553, 'branch': 'cse'}

In [19]:
stu['age'] = 21

In [20]:
stu

{'name': 'suman', 'rollnumber': 553, 'branch': 'cse', 'age': 21}

In [21]:
dir(stu)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [22]:
stu.keys()

dict_keys(['name', 'rollnumber', 'branch', 'age'])

In [25]:
stu.items()

dict_items([('name', 'suman'), ('rollnumber', 553), ('branch', 'cse'), ('age', 21)])

In [26]:
stu.popitem()

('age', 21)

In [28]:
stu.popitem()

('branch', 'cse')

In [29]:
stu.pop('rollnumber')

553

In [30]:
stu

{'name': 'suman'}

In [35]:
stu['rollnumber'] = 553

TypeError: 'int' object does not support item assignment

In [37]:
stu

553

In [41]:
marks = {}.fromkeys(['java','python','c','c++'],0)

In [42]:
marks

{'java': 0, 'python': 0, 'c': 0, 'c++': 0}

In [43]:
marks.setdefault('c',67)

0

In [44]:
marks.setdefault('.net',67)

67

In [45]:
marks

{'java': 0, 'python': 0, 'c': 0, 'c++': 0, '.net': 67}

In [47]:
d = {}
names = input().split()
for name in set(names):
    d[name] = names.count(name)
d

suman ravi suman gangi mahesh gangi

{'gangi': 2, 'mahesh': 1, 'ravi': 1, 'suman': 2}

In [52]:
d1 = dict()
names = input().split()
for indpos,value in enumerate(names):
    #print(indpos,value)
    d1[indpos] = value
d1

suman siri lucky gangi mahesh

{0: 'suman', 1: 'siri', 2: 'lucky', 3: 'gangi', 4: 'mahesh'}

In [54]:
s = input()
sm = 0
for ch in s:
    if ch.isdigit():
        sm += int(ch)
sm

43253bbvdsabd mzxcnsd

17

In [55]:
s = input().split()
sm = 0
for ch in s:
    if ch.isdigit():
        sm += int(ch)
sm

suman 20 40 50 raju

110

In [61]:
keys = list()
values = []
d = {}
n = int(input("enter keys or values range:"))
for i in range(n):
    key = input(" enter key:")
    keys.append(key)
    value = input("enter a value:")
    values.append(value)
for i in range(len(keys)):
    d[keys[i]] = values[i]
d

enter keys or values range:2
 enter key:name
enter a value:branch
 enter key:suman
enter a value:14

{'name': 'branch', 'suman': '14'}

In [62]:
stuinfo = {'names':['suman','gangi','mahesh','ravi'],'rollno':[553,525,550,548]}
stuinfo

{'names': ['suman', 'gangi', 'mahesh', 'ravi'], 'rollno': [553, 525, 550, 548]}

In [65]:
stuinfo['names'][0]

'suman'

In [67]:
names = []
mbno = []
sinfo = {}
words = input().split()
for word in words:
    if word.isdigit():
        mbno.append(word)
    else:
        names.append(word)
sinfo['names'] = names
sinfo['mbno'] = mbno
sinfo

sfakg sfb yuigbda  547 56687 ty tyum 568 567

{'names': ['sfakg', 'sfb', 'yuigbda', 'ty', 'tyum'],
 'mbno': ['547', '56687', '568', '567']}